.glitch {
  background: #000 no-repeat center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  // Generate a random delay using CSS variables
  --glitch-delay: calc(var(--random-seed) * 5s);
  /* 0s - 5s */
  --shift-delay: calc(var(--random-seed) * 3s);
  /* 0s - 3s */

  &::before,
  &::after,
  .channel {
    background: inherit;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    content: "";
    animation: glitch-effect 3s linear infinite alternate;
    animation-delay: var(--glitch-delay);
  }

  &::after {
    content: "";
    animation: glitch-effect 3s linear infinite alternate;
    animation-delay: var(--glitch-delay);
  }

  .channel {
    mix-blend-mode: screen;

    &::before {
      content: "";
      display: block;
      mix-blend-mode: multiply;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .r {
    animation: rgb-shift 3s steps(1, jump-end) infinite alternate both;
    animation-delay: var(--shift-delay);

    &::before {
      background: #f00;
    }
  }

  .g {
    animation: rgb-shift 3s steps(1, jump-end) infinite alternate both;
    animation-delay: var(--shift-delay);

    &::before {
      background: #0f0;
    }
  }

  .b {
    animation: rgb-shift 3s steps(1, jump-end) infinite alternate both;
    animation-delay: var(--shift-delay);

    &::before {
      background: #00f;
    }
  }
}

// Keyframe animations
@keyframes glitch-effect {
  0% {
    clip-path: inset(2% 0 96% 0);
    transform: translateX(-5px);
  }

  20% {
    clip-path: inset(20% 0 60% 0);
    transform: translateX(5px);
  }

  40% {
    clip-path: inset(40% 0 20% 0);
    transform: translateX(-5px);
  }

  60% {
    clip-path: inset(60% 0 40% 0);
    transform: translateX(5px);
  }

  80% {
    clip-path: inset(80% 0 20% 0);
    transform: translateX(-5px);
  }

  100% {
    clip-path: inset(96% 0 2% 0);
    transform: translateX(5px);
  }
}

@keyframes rgb-shift {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-2%, -1%);
  }

  100% {
    transform: translate(2%, 1%);
  }
}