---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroAltWithImage from "../components/HeroAltWithImage.astro";
import Social from "../components/Social.astro";
import SignatureWithImage from "../components/SignatureWithImage.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <div class="container">
        <Navbar class="navbar" />
        <div class="hero blur-in">
            <HeroAltWithImage />
        </div>
        <div class="social-container blur-in">
            <Social />
        </div>

        <div class="grid-container blur-in">
            <div class="video-container main blur-in">
                <h1>Umbra (Somber Remix)</h1>
                <iframe
                    class="glow"
                    style="border-radius:12px"
                    width="90%"
                    height="500"
                    src="https://www.youtube.com/embed/aQ2crqB7jIg?si=FODrqiAUGa7kgyMS"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
            <div class="video-container secondary blur-in">
                <h1>Umbra</h1>
                <iframe
                    class="glow"
                    style="border-radius:12px"
                    width="90%"
                    height="500"
                    src="https://www.youtube.com/embed/rOES60IilLA?si=JmsrKcW0Jj8RRi9x"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
            <div class="video-container main blur-in">
                <h1>Ocaso IlusiÓn</h1>
                <iframe
                    class="glow"
                    style="border-radius:12px"
                    width="90%"
                    height="500"
                    src="https://www.youtube.com/embed/32I43GZR9kU?si=PfRIXoEur5gyO4SW"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="social-container blur-in">
            <h1>
                Para estar mÁs conectado con el dÍa a dÍa de Ocaso IlusiÓn,
                sÍguenos en las redes sociales:
            </h1>
            <Social />
        </div>

        <div class="signature-container blur-in">
            <SignatureWithImage />
        </div>
        <Footer />
    </div>
</Layout>
<style>
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;

        margin: 0;
    }

    .container {
        height: 100%;
    }

    .navbar {
        display: none;
    }

    .hero {
        height: 40vh;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        overflow: hidden; /* Prevents any overflow */
    }

    .grid-container {
        width: auto%;
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        margin: 1rem;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid red 3px;
        width: 100%;
        padding-bottom: 5rem;
    }

    .video-container h1 {
        color: black;
    }

    .main {
        background-color: pink;
        border: solid 3px pink;
        border-radius: 1%;
    }

    .secondary {
        background-color: #6da098;
        border: solid 3px #6da098;
        border-radius: 1%;
    }

    .social-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #d6a397;
    }

    .signature-container {
        margin-top: 10rem;
        display: flex;
        height: 45vh;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        overflow: hidden; /* Prevents any overflow */
    }

    /* Responsive */
    @media (max-width: 1024px) {
    }

    @media (max-width: 1180px) {
        .social-container {
            margin: 0 2rem;
        }
    }

    @media (max-width: 768px) {
        .social-container {
            margin: 0 2rem;
        }
    }

    @media (max-width: 480px) {
        .social-container {
            margin: 0 2rem;
        }
    }

    /* Animation */
    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition:
            opacity 3s ease-out,
            transform 0.6s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .blur-in {
        filter: blur(10px);
        opacity: 0;
        transition:
            filter 0.6s ease-out,
            opacity 0.6s ease-out;
    }

    .blur-in.visible {
        filter: blur(0);
        opacity: 1;
    }

    .glow {
        animation: glow 1.5s infinite alternate;
        color: white;
    }

    @keyframes glow {
        from {
            box-shadow:
                0 0 5px white,
                0 0 10px #white;
        }
        to {
            box-shadow:
                0 0 20px black,
                0 0 30px black;
        }
    }
</style>
<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("visible");
            } else {
                entry.target.classList.remove("visible");
            }
        });
    });

    document.querySelectorAll(".fade-in").forEach((el) => observer.observe(el));

    document.querySelectorAll(".blur-in").forEach((el) => observer.observe(el));
</script>
