---
import Welcome from "../components/Welcome.astro";
import Social from "../components/Social.astro";
import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import YoutubeShortEmbeded from "../components/YoutubeShortEmbeded.astro";
import SpotifyEmbeded from "../components/SpotifyEmbeded.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Banner />
	<Hero />
	<div class="grid">
		<div class="">
			<h1>Lo último</h1>
			<YoutubeShortEmbeded />
		</div>
		<div class="grid-element">
			<h1>Escucha</h1>
			<SpotifyEmbeded />
		</div>
	</div>
	<Social />

	<style>
		.grid {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			margin-top: 3vh;
			gap: 1rem; /* Adds spacing between elements */
		}

		/* Make the grid collapse into a column and ensure everything is centered */
		@media (max-width: 768px) {
			.grid {
				flex-direction: column;
				align-items: center; /* Centers child elements */
				justify-content: center; /* Centers them vertically */
				width: 100%;
			}

			.grid > div {
				display: flex; /* Ensures inner content is centered */
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%; /* Full width */
				max-width: 500px; /* Optional: Prevents elements from being too wide */
				margin: 0 auto; /* Centers horizontally */
				text-align: center; /* Centers text inside */
			}
		}

		.grid-element {
			flex-grow: 1;
		}
	</style>
</Layout>
