---

---

<div class="banner-container">
    <img src="/plane-icon.png" alt="" width="100" />
    <h1>Something new!</h1>
</div>

<style>
    .banner-container {
        display: flex;
        height: 5vh;
        color: white;
        background: radial-gradient(circle, rgba(109, 71, 152, 0.8), black);
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .banner-container img {
        align-self: self-start;
    }

    .banner-container h1 {
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }
</style>
