<div class="hero-container">
    <h1 class="hero-title">Ocaso Ilusión</h1>
    <img src="sol_back.jpg" alt="" />
</div>

<style>
    .hero-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .hero-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "XXII Ultimate-Black-Metal", sans-serif;
        font-size: 10rem;
        font-weight: lighter;
        color: #d6a397;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        text-align: center;
        white-space: nowrap;
        padding-bottom: -30%;
    }

    @media (max-width: 768px) {
        .hero-title {
            font-size: 5rem;
            white-space: normal;
        }
    }

    @media (max-width: 500px) {
        .hero-title {
            font-size: 3rem;
            white-space: normal;
        }
    }

    @media (max-width: 400px) {
        .hero-title {
            font-size: 2rem;
            white-space: normal;
        }
    }
</style>
