<div class="hero-container">
    <!-- <h1 class="hero-title">Ocaso Ilusión</h1> -->
    <img class="hero-image" src="/img/ocaso letras web.png" alt="" />
</div>

<style>
    .hero-container {
        height: 100%; /* Ensures it fills the parent */
        width: 100%; /* Ensures full width */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/img/sol_back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.7); /* Bottom shadow */
    }

    .hero-image {
        width: 60%;
        height: auto;
        margin-top: 10vh;
    }

    /* .hero-title {
        align-self: center;
        font-family: "XXII Ultimate-Black-Metal", sans-serif;
        font-size: 10rem;
        font-weight: lighter;
        color: #d6a397;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        text-align: center;
        white-space: nowrap;
        margin-bottom: 1rem;
    } */

    /* Responsive */
    @media (max-width: 1024px) {
        .hero-title {
            font-size: 10rem;
        }
        .hero-image {
            margin-top: 10vh;
            height: 40rem;
            width: auto;
        }
    }

    @media (max-width: 768px) {
        .hero-title {
            font-size: 8rem;
        }

        .hero-image {
            margin-top: 10vh;
            height: 40rem;
            width: auto;
        }
    }

    @media (max-width: 480px) {
        .hero-title {
            font-size: 5rem;
        }

        .hero-image {
            margin-top: 10vh;
            height: 25rem;
            width: auto;
        }
    }
</style>
