---
import "../styles/glitch.scss";
const { image } = Astro.props;
const randomSeed = Math.random();
---

<div
    class="container"
    class="glitch"
    style={`--random-seed: ${randomSeed}; background-image: url('${image}');`}
>
    <div class="channel r"></div>
    <div class="channel g"></div>
    <div class="channel b"></div>
</div>

<!-- <style>
    .container {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        border-radius: 1%;
        border: solid 3px #fda6a7;
    }
</style> -->
