<!-- <h1 class="signature">Ocaso Ilusión</h1> -->
<div class="signature">
    <!-- <img class="hero-image" src="/img/ocaso letras web.png" alt="" /> -->
</div>
<style>
    .signature {
        display: flex;

        align-items: center;
        justify-content: center;
        align-items: center;
        background-image: url("/img/ocaso letras web.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .hero-image {
        width: auto;
        height: 1%;
    }

    /* Responsive */
    @media (max-width: 1024px) {
        .hero-image {
            height: 40rem;
            width: auto;
        }
    }

    @media (max-width: 768px) {
        .hero-image {
            height: 40rem;
            width: auto;
        }
    }

    @media (max-width: 480px) {
        .hero-image {
            height: 25rem;
            width: auto;
        }
    }

    @media (max-width: 400px) {
        .hero-image {
            height: 20rem;
            width: auto;
        }
    }
</style>
