<div class="text-container">
    <p>
        Dani Casas Vargas es un productor y
        multiinstrumentalista venezolano/español conocido por su enfoque
        experimental y su capacidad para fusionar diversos géneros musicales.
    </p>

    <p>
        Con un estilo caracterizado por la exploración de texturas sonoras y la
        creación de ambientes intensos y atmosféricos, Dani, bajo el nombre
        Ocaso Ilusión, ha trabajado en solitario, explorando su propio camino,
        mezclando lo orgánico con lo electrónico en composiciones que invitan a
        la introspección.
    </p>

    <p>
        Basándose en el rock, Ocaso Ilusión experimenta con lo psicodélico, el
        space y lo progresivo, buscando expandir la mente desde el subconsciente
        hacia lo desconocido viajando a través de atmósferas sonoras cargadas de
        emociones intensas e intrigantes.
    </p>

    <p>
        En Mayo de 2024 se publica el álbum debut “Ocaso Ilusión”, compuesto por
        7 temas que narran un viaje psicodélico de destrucción, renacimiento y
        transformación. Este álbum está disponible en todas las plataformas
        digitales, así como el posterior single “Umbra” que marca el debut
        audiovisual con el primer videoclip, dibujado y animado por Nave Nodriza
        Laboratorio Audiovisual, <a
            href="https://www.youtube.com/watch?v=rOES60IilLA"
            >disponible en YouTube</a
        >
    </p>
</div>

<style>
    .text-container {
        min-width: 300px;
        max-width: 100%;
        width: auto;
        text-align: justify;
        text-justify: inter-word;
    }
    p {
        margin-top: 0;
        font-size: 1.5rem;
        font-family: "spaceship", Roboto, Helvetica, Arial, sans-serif;
        min-width: 300px;
        font-weight: normal;
    }
</style>
