---

---

<div class="container">
    <h1>Lo último</h1>
    <iframe
        max-width="500"
        height="500"
        src="https://www.youtube.com/embed/rOES60IilLA?si=TOxCKagzjEZjE2yi&controls=0&autoplay=1&mute=1&loop=1&playlist=${video}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
    }
</style>
