---
import FaviconAndMeta from "../components/FaviconAndMeta.astro";
import Analytics from "@vercel/analytics/astro";
const currentUrl = Astro.url.href;
---

<!doctype html>
<html lang="en">
	<head>
		<FaviconAndMeta />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Ocaso Ilusión - Sitio Oficial</title>
		<meta charset="UTF-8" />
		<meta name="author" content="Ocaso Ilusion" />
		<meta
			name="description"
			content="Ocaso Ilusión: Álbum debut disponible ya."
		/>
		<meta
			name="keywords"
			content="ocaso ilusion, music, band, black metal, upcoming album"
		/>
		<meta name="robots" content="index, follow" />

		<meta name="generator" content={Astro.generator} />
		<!-- This meta og tags are for sharing info -->
		<!-- Title shown in the preview -->
		<meta property="og:title" content="Ocaso Ilusión - Sitio Oficial" />

		<!-- Description shown below the title -->
		<meta
			property="og:description"
			content="Ocaso Ilusión: Álbum debut disponible ya. Escucha, comparte y disfruta"
		/>

		<!-- Image shown in the preview -->
		<meta property="og:image" content="https://ocasoilusion.com/hero.png" />

		<!-- The page URL -->
		<meta property="og:url" content={currentUrl} />

		<!-- Optional: Specify the type of content -->
		<meta property="og:type" content="website" />

		<Analytics />
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: "XXII Ultimate-Black-Metal";
		src: url("/XXIIUltimate-Black-Metal.woff2") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}

	@font-face {
		font-family: "primma_handmade_dafont";
		src: url("/PrimmaHandmade-accent-v2.woff2") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}

	@font-face {
		font-family: "spaceship";
		src: url("/spaceship2100.ttf") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}
	@font-face {
		font-family: "noticia";
		src: url("/Noticia-Bold.otf") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		/* background-image: url("../assets/umbra_bg.png"); */
		background-color: #e8baba;
		background-size: cover; /* Ensures the image covers the entire screen */
		background-position: center;
		background-repeat: no-repeat;
		color: #d6a397;
		font-family: "primma_handmade_dafont", sans-serif;
		background-image: url("/img/wallpaper oi.jpg");
		font-weight: lighter;
		display: flex;
		justify-content: center; /* Centers the content */
		background-attachment: fixed; /* Keeps it fixed when scrolling */
	}

	.container {
		background-color: #000;
		max-width: 1200px; /* Adjust width as needed */
		width: 90%; /* Ensures it scales down on smaller screens */
		margin: 0 auto; /* Centers it */
		box-shadow:
			-5px 0 10px rgba(255, 255, 255, 0.7),
			/* Left shadow */ 5px 0 10px rgba(255, 255, 255, 0.7); /* Right shadow */
	}

	@media (max-width: 768px) {
		.container {
			width: 100%;
		}
	}

	h1 {
		text-align: center;
		margin-bottom: 0.5rem;
		color: white;
		font-size: 10rem;
	}

	/* Animation */
	.fade-in {
		opacity: 0;
		transform: translateY(20px);
		transition:
			opacity 3s ease-out,
			transform 0.6s ease-out;
	}

	.fade-in.visible {
		opacity: 1;
		transform: translateY(0);
	}

	.blur-in {
		filter: blur(10px);
		opacity: 0;
		transition:
			filter 0.6s ease-out,
			opacity 0.6s ease-out;
	}

	.blur-in.visible {
		filter: blur(0);
		opacity: 1;
	}
</style>
<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("visible");
			} else {
				entry.target.classList.remove("visible");
			}
		});
	});

	document.querySelectorAll(".fade-in").forEach((el) => observer.observe(el));

	document.querySelectorAll(".blur-in").forEach((el) => observer.observe(el));
</script>
