<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ocaso ilusión</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Stick+No+Bills:wght@200..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		/* background-image: url("../assets/umbra_bg.png"); */
		background-color: #fff;
		background-size: cover; /* Ensures the image covers the entire screen */
		background-position: center;
		background-repeat: no-repeat;
		color: #ffffff;
		font-family: "Stick No Bills", serif;
		text-shadow: #d6a397 1px 0 20px;
		font-weight: lighter;
	}

	body {
		display: flex;
		justify-content: center; /* Centers the content */
	}

	.container {
		background-color: #000;
		max-width: 1200px; /* Adjust width as needed */
		width: 90%; /* Ensures it scales down on smaller screens */
		margin: 0 auto; /* Centers it */
	}

	@media (max-width: 768px) {
		.container {
			width: 100%;
		}
	}

	.stick-no-bills-<uniquifier > {
		font-family: "Stick No Bills", serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
	}
</style>
