---
import FaviconAndMeta from "../components/FaviconAndMeta.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<FaviconAndMeta />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<title>Ocaso ilusión</title>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: "XXII Ultimate-Black-Metal";
		src: url("/XXIIUltimate-Black-Metal.woff2") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}

	@font-face {
		font-family: "primma_handmade_dafont";
		src: url("/PrimmaHandmade.woff2") format("truetype");
		font-weight: lighter;
		font-style: normal;
		font-display: fallback;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		/* background-image: url("../assets/umbra_bg.png"); */
		background-color: #1c1717;
		background-size: cover; /* Ensures the image covers the entire screen */
		background-position: center;
		background-repeat: no-repeat;
		color: #000;
		font-family: "primma_handmade_dafont", sans-serif;
		text-shadow: #d6a397 1px 0 20px;
		font-weight: lighter;
		display: flex;
		justify-content: center; /* Centers the content */
	}

	.container {
		background-color: #000;
		max-width: 1200px; /* Adjust width as needed */
		width: 90%; /* Ensures it scales down on smaller screens */
		margin: 0 auto; /* Centers it */
	}

	@media (max-width: 768px) {
		.container {
			width: 100%;
		}
	}

	h1 {
		text-align: center;
		margin-bottom: 0.5rem;
		color: white;
		font-size: 10rem;
	}
</style>
